extends layout

block content
    if user
        if user.membership && user
            h2 Welcome back #{user.username} you #[bold are] a member
            h2 meaning you #[em can] see who sent these messages and when they were sent!
            br
        else 
            h2 Welcome back #{user.username} you are #[bold not] a member
            h2 meaning you #[em cannot] see who sent these messages and when they were sent!
            h2(class="join-container") Join the <a href='/joinclub' class="join">SPECIAL CLUB</a> to see who  wrote the messages!
            br
    else 
        h1(class="login") You havent created an account or logged in, do either to see the messages!


    if messages.length && user
        ul(class="message-container") 
            form(method="POST" class="message-form") 
                input(type="text" placeholder='Type your message here' name="message" required="true")
                button(type="submit") Post message
            for message in messages
                if user && user.membership
                    div(class="message")
                        div(class="message-text") #{message.text} 
                        div(class="written-by") Written by #{message.user.username} on #{message.date_formatted}
                    if user.username == "rayray"
                        a(href="/messages" + message.url) Delete message
                else 
                    div(class="message")
                        div(class="message-text") #{message.text} 
                        div(class="written-by") Written by #[em ANONYMOUS]  at #[em ANONYMOUS] time 