extends layout

block content
    h1= title
    if user
        if user.membership && user
            h2 Welcome back #{user.username} you #[bold are] a member
            p Meaning you #[em can] see who sent these messages

            h4 Post a message: 
            form(method="POST" ) 
                div.form-group
                    label(for="message") 
                    input(type="text" placeholder='Type your message here' name="message" required="true")
                button(type="submit") Post message
        else 
            h3 Welcome back #{user.username} you are #[bold not] a member
            p Meaning you #[em cannot] see who sent these messages
            h4 Post a message: 
            form(method="POST" ) 
                div.form-group
                    label(for="message") 
                    input(type="text" placeholder='Type your message here' name="message" required="true")
                button(type="submit") Post message
    else 
        You havent logged in, go login  here: 
        a(href="/log-in") Login


    h3 messages here:
    if messages.length
        ul 
            for message in messages
                if user && user.membership
                    li  #{message.text} + #{message.user.username}
                else 
                    li #{message.text} Written by ANONYMOUS at ANON time 
    else   
        p Write the first message

    if !user.membership 
        Join the club 
        a(href="/join-club") 
        to see the date and who the messages were written by 
        
    a(href="/") Back home